# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
[Dd]ebug/
[Rr]elease/
publish/

# NuGet
*.nupkg
packages/

# Logs / temp
*.log
*.tmp

# Rider / VS Code
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Secrets / local config (agar kabhi password wali file bani)
appsettings.Local.json
secrets.json
*.pfx
